html,
body {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 10px;
  margin: auto;
  text-align: center;
  font: normal 3vw "Droid Sans", sans-serif;
  color: #646464;
}

canvas {
  border: solid 2px #646464;
  width: 90vw;
  height: 80vh;
}

form {
  padding: 10px;
  width: 100%;
}

label {
  vertical-align: middle;
  color: #646464;
}

input {
  font: normal 3.5vw "Droid Sans", sans-serif;
  width: 12vw;
  color: #646464;
}

#instructions {
  display: relative;
  font-size: 5vw;
  font-family: sans-serif;
  color: #aaa;
}

.nowrap {
  white-space: nowrap;
}
