html,
body {
  padding: 0;
  margin: 0;
}

body {
  padding-top: 10px;
  margin: auto;
  text-align: center;
  font: normal 28pt "Droid Sans", sans-serif;
  color: #646464;
}

canvas {
  border: solid 2px #646464;
  width: 90%;
}

form {
  padding: 10px;
  width: 100%;
}

label {
  vertical-align: middle;
  color: #646464;
}

input {
  font: normal 20pt "Droid Sans", sans-serif;
  color: #646464;
}

#size {
  position: fixed;
  top: 10px;
  left: 0;
  font: normal 28pt "Droid Sans", sans-serif;
  opacity: 0.5;
}

.nowrap {
  white-space: nowrap;
}
